@charset "utf-8";

@font-face {
    font-family: 'CeraCondensedCY';
    src:
    url('../fonts/CeraCondensedCY-Light.woff2') format('woff2'),
    url('../fonts/CeraCondensedCY-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'CeraCondensedCY';
    src:
        url('../fonts/CeraCondensedCY-Regular.woff2') format('woff2'),
        url('../fonts/CeraCondensedCY-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'CeraCondensedCY';
    src:
        url('../fonts/CeraCondensedCY-Medium.woff2') format('woff2'),
        url('../fonts/CeraCondensedCY-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'CeraCondensedCY';
    src:
        url('../fonts/CeraCondensedCY-Bold.woff2') format('woff2'),
        url('../fonts/CeraCondensedCY-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}