:root {
    --color-red: #E4002B;
    --color-black: #000;
    --color-white: #fff;
    --color-dark: #1C1C1C;
    --color-smoke: #EBEBEB;
    --color-smoke-1: #F7F6F5;
    --color-green: #0DDA72;

    --body-width: 2800px;

    --transition: all .3s linear;

    --hover-btn-red: #a9001f;
    --hover-btn-red-shadow: 0px 4px 30px rgba(228, 0, 43, 0.5);

    --hover-btn-black: #1f1f1f;
    --hover-btn-black-shadow: 0px 4px 30px rgba(0, 0, 0, 0.5);

    --accent-font: "CeraCondensedCY", sans-serif;

    --fade-in: fadeIn 1s both;

}
